.tittle{
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
}
.center{
    display: block;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}
p{
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
}
