
.App {
    padding: 12px 100px;
  }
  @media only screen and (max-width: 600px) {
    .App {
      padding: 12px 0px;
    }
  }
  @media only screen and (min-width: 415px) {
    .App {
      padding: 12px 0px;
    }
  }
  body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.main-content{
    text-align: center;
}
.tittle{
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    font-size: 80px;
}
p{
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
}



